<% layout('/layouts/boilerplate') -%>
    <form method="post" action="/listings/<%= listing._id %>?_method=put" class="needs-validation" novalidate>
        <br>
        <h1 style="text-align: center; " class="mb-4">Edit Listing.</h1>
        <img src="<%= listing.image.url %>" alt="image" class="edit-img">
        <div class="row">
            <div class="col col-8 offset-2">
                <div class="mb-2 mt-2">
                    <label for="title" class="form-label"> Titile: </label>
                    <input type="text" class="form-control" name="listing[title]" value="<%= listing.title %>"
                        id="title" required>
                    <div class="invalid-feedback">title should be valid.</div>
                    <div class="valid-feedback">Title is valid.</div>
                </div>
                <div class="mb-2">
                    <label for="description" class="form-label"> Description: </label>
                    <textarea name="listing[description]" class="form-control" id="description"
                        required><%=listing.description %></textarea>
                    <div class="invalid-feedback">Description should be valid.</div>
                    <div class="valid-feedback">Description is valid.</div>
                </div>
                <div class="row">

                    <div class="mb-2 col-md-4">
                        <label for="price" class="form-label"> Price: </label>
                        <input id="price" class="form-control" name="listing[price]" value="<%=listing.price %>"
                            required>
                        <div class="invalid-feedback">price should be valid.</div>
                        <div class="valid-feedback">Price is valid.</div>
                    </div>

                    <div class="mb-2 col-md-8">
                        <label for="country" class="form-label"> Country: </label>
                        <input type="text" id="country" class="form-control" name="listing[country]"
                            value="<%= listing.country %>" required>
                        <div class="invalid-feedback">Country should be valid.</div>
                        <div class="valid-feedback">Country is valid.</div>
                    </div>

                </div>
                <div class="mb-2">
                    <label for="location" class="form-label"> Location: </label>
                    <input type="text" id="location" class="form-control" name="listing[location]"
                        value="<%= listing.location %>" required>
                    <div class="invalid-feedback">Location should be valid.</div>
                    <div class="valid-feedback">Location is valid.</div>
                </div>

                <div class="offset-6">
                    <button class="btn-dark btn">Edit</button>
                </div>
                <br>
            </div>
        </div>
    </form>